<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkyConnect CRM - Login</title>
  <link rel="stylesheet" href="../styles/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <h1 class="title">SkyConnect      <i class="fa-solid fa-plane plane-icon"></i>
</h1>
    <p class="quote">“From Leads to Loyalty - Seamlessly Connected”</p>

    <div class="description">
      <p>Welcome to <b>SkyConnect CRM</b> – your one-stop solution for passenger management, 
         sales & marketing, customer engagement, and analytics.  
         Please log in to continue.</p>
    </div>

    <div class="login-box" id="login-box">
      <h2>Login to Your Account</h2>
      <form id="loginForm" autocomplete="off">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" required autocomplete="new-email">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="text" id="password" placeholder="Enter your password" required autocomplete="new-password">
        </div>
        <button type="submit" class="btn">Login</button>
        <p id="error-msg"></p>
      </form>
        <p class="forgot"><a href="#" id="forgot-link">Forgot Password?</a></p>
    </div>
        <div class="login-box hidden" id="forgot-box">
      <h2>Reset Password</h2>
      <form id="forgotForm">
        <div class="input-group">
          <label for="resetEmail">Email</label>
          <input type="email" id="resetEmail" placeholder="Enter your registered email" required>
        </div>
        <div class="input-group">
          <label for="newPassword">New Password</label>
          <input type="text" id="newPassword" placeholder="Enter new password" required>
        </div>
        <button type="submit" class="btn">Change Password</button>
        <p id="reset-msg"></p>
      </form>
      <p class="forgot"><a href="#" id="back-to-login">Back to Login</a></p>
    </div>
  </div>

  </div>
  <script src="../javascript/login.js"></script>
</body>
</html>
